//-footer
mj-section(padding="0px")
    mj-column
        mj-social(font-size="12px" icon-size="20px" mode="horizontal")
            mj-social-element(padding="20px" font-family="Poppins, sans-serif" name="facebook" href="https://mjml.io") Facebook
            mj-social-element(padding="20px" font-family="Poppins, sans-serif" name="google" href="https://mjml.io") Google
            mj-social-element(padding="20px" font-family="Poppins, sans-serif" name="twitter" href="https://mjml.io") Twitter
            mj-social-element(padding="20px" font-family="Poppins, sans-serif" name="linkedin" href="https://mjml.io") LinkedIn
        mj-text(align="center" font-size="10px") 9200 E Mineral Ave Suite 100, Centennial, CO 80112
        mj-text(align="center" font-size="10px") Unsubscribe