//- Top Nav
mj-section(padding="0px")
    mj-column(vertical-align="middle" width="200px" padding="0")
        mj-image(href="https://www.emailonacid.com" width="200px" padding="0px 10px" src="https://www.emailonacid.com/wp-content/themes/eoa/images/emailonacid-logo-small.png" align="center")/
    mj-column(vertical-align="middle" width="400px" padding="0")
        mj-navbar(base-url="https://www.emailonacid.com" hamburger="hamburger" ico-color="#333333" align="center")
            mj-navbar-link(padding="8px 10px 0 10px" text-transform="capitalize" font-size="12px" font-weight="500" color="#333333" font-family="Poppins, sans-serif" href="/email-testing") Email Testing
            mj-navbar-link(padding="8px 10px 0 10px" text-transform="capitalize" font-size="12px" font-weight="500" color="#333333" font-family="Poppins, sans-serif" href="/email-deliverability") Email Deliverability
            mj-navbar-link(padding="8px 10px 0 10px" text-transform="capitalize" font-size="12px" font-weight="500" color="#333333" font-family="Poppins, sans-serif;" href="/free-trial") Free Trial